html{
	background-image: url(/images/beijing.png);
	background-repeat: repeat; 
}

fieldset.mobile-nav{
	display: none;
}

ul.main-navigation{
	position: absolute;
	top: 60px;
	left:200px;
	display: inline-block;
}

ul.main-navigation li{
	float: left;
	line-height: 40px;
	padding: 0px 10px 0px 10px;
	list-style: none;
}

ul.main-navigation li a{
	color: white;
	text-decoration: none;
}

